.menu {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-main;
}

.menu__navbar {
  display: inline-flex;
  text-align: right;
  ul {
    margin-left: auto;
    /* display: inline-block; */
    li {
      margin-right: 0.5rem;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      a {
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
          color: $color-hover;
        }
      }
    }
  }
}

.input-menu {
  border-radius: 30px;
}

.menu__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
